.nm{color: aliceblue; font-size: medium;}
body{background-image: url(./09eb186e-e6ed-44cc-b299-f757469793f4.jpeg);}
.mm{background-color:rgb(34, 248, 255);height: 2cm;font-size:55px;color: rgb(255, 255, 255));outline-style: groove;outline-color: rgb(250, 15, 219);
font-family: 'Times New Roman', Times, serif;}
.btn{border-style: groove;background-color: bisque;font-family: 'Times New Roman', Times, serif;font-size: 15px;}
.product{border-color: black;background-color: aliceblue;}